<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.foodiefoodie.myPage.repository.FavoriteListMapper">
<!--경로 맞구여ㅛ ...-->

    <resultMap id="favoriteListMap" type="com.project.foodiefoodie.myPage.dto.FavoriteStorePromotionBnoListDTO">
        <result column="promotion_bno" property="promotionBno" />
    </resultMap>

<!--    맵퍼 경로도 맞구요 -->

    <select id="favoriteStorePromotionBnoList" resultMap="favoriteListMap">
        select promotion_bno from favorite_store
        where email = #{email}
    </select>

    <resultMap id="FavoriteDataMap" type="com.project.foodiefoodie.myPage.dto.FavoriteFileDataDTO">
        <result column="file_data" property="fileData" />
        <result column="promotion_bno" property="promotionBno" />
    </resultMap>

    <select id="favoriteFileData" resultMap="FavoriteDataMap">
        select file_data
        from promotion_upload_title_img
        where promotion_bno = #{promotionBno}
    </select>


    <resultMap id="storeInfoMap" type="com.project.foodiefoodie.myPage.dto.FavoriteStoreInfoDTO">
        <result column="store_name" property="storeName" />
        <result column="store_call_number" property="storeCallNumber" />
        <result column="hot_deal" property="hotDeal" />
        <result column="store_address" property="storeAddress" />
        <result column="store_detail_address" property="storeDetailAddress" />
        <result column="store_extra_address" property="storeExtraAddress" />
        <result column="avg_star_rate" property="avgStarRate" />

    </resultMap>

    <select id="favoriteStoreInfo" resultMap="storeInfoMap">
        SELECT a.store_name ,a.store_call_number , a.hot_deal , a.store_address , a.store_detail_address
        <if test="store_extra_address !=null">
            , a.store_extra_address
        </if>
        , b.avg_star_rate
        FROM master a
        INNER JOIN promotion_board b
        ON a.business_no = b.business_no
        where promotion_bno = #{promotionBno}
    </select>





</mapper>