<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.foodiefoodie.proBoard.repository.ProBoardMapper">

    <insert id="save">
        insert into promotion_board VALUES (
        #{businessNo}
        ,seq_promotion_board.nextval
        ,#{content}
        ,sysdate
        ,#{title})
    </insert>

    <update id="modify">
        UPDATE promotion_board SET content = #{content}, last_updated = sysdate, title = #{title}
    </update>

    <delete id="delete">
        DELETE FROM promotion_board WHERE promotion_bno = #{promotionBno}
    </delete>

    <resultMap id="proBoardMap" type="com.project.foodiefoodie.proBoard.domain.ProBoard">
        <result property="businessNo" column="business_no"/>
        <result property="promotionBno" column="promotion_bno"/>
        <result property="lastUpdated" column="last_updated"/>
    </resultMap>

    <select id="selectOne" resultMap="proBoardMap">
        SELECT *
        FROM promotion_board
        where promotion_bno = #{promotionBno}
    </select>

<!--  마스터 가져오기 임시 -->
    <resultMap id="masterMap" type="com.project.foodiefoodie.member.domain.MasterAndMember">
        <result property="businessNo" column="BUSINESS_NO"/>
        <result property="masterName" column="MASTER_NAME"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="storeAddress" column="STORE_ADDRESS"/>
        <result property="hotDeal" column="HOT_DEAL"/>
        <result property="storeCallNumber" column="STORE_CALL_NUMBER"/>
    </resultMap>
    <select id="selectMaster" resultMap="masterMap">
        select * from master where BUSINESS_NO = #{businessNo}
    </select>
</mapper>