<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.foodiefoodie.proBoard.repository.ProBoardFileMapper">

    <insert id="saveFileTitle">
            insert into PROMOTION_UPLOAD_TITLE_IMG (
            PROMOTION_BNO
            ,FILE_PATH
            ,FILE_NAME
            ,FILE_MEDIATYPE
            ,FILE_SIZE
            ,FILE_BYTE
            ,FILE_DATA
            )
            VALUES (
            #{promotionBno}
            ,#{filePath}
            ,#{fileName}
            ,#{fileMediaType}
            ,#{fileSize}
            ,#{fileByte}
            ,#{fileData}
            )
    </insert>


    <insert id="saveFileDetail">
        insert into PROMOTION_UPLOAD_DETAIL_IMG (
        PROMOTION_BNO
        ,FILE_PATH
        ,FILE_NAME
        ,FILE_MEDIATYPE
        ,FILE_SIZE
        ,FILE_BYTE
        ,FILE_DATA
        )
        VALUES (
        #{promotionBno}
        ,#{filePath}
        ,#{fileName}
        ,#{fileMediaType}
        ,#{fileSize}
        ,#{fileByte}
        ,#{fileData}
        )
    </insert>

    <insert id="saveFileMenu">
        insert into PROMOTION_UPLOAD_MENU_IMG (
        PROMOTION_BNO
        ,MENU_NO
        ,FILE_PATH
        ,FILE_NAME
        ,FILE_MEDIATYPE
        ,FILE_SIZE
        ,FILE_BYTE
        ,FILE_DATA
        )
        VALUES (
        #{promotionBno}
        ,SEQ_PROMOTION_MENU_IMG.nextval
        ,#{filePath}
        ,#{fileName}
        ,#{fileMediaType}
        ,#{fileSize}
        ,#{fileByte}
        ,#{fileData}
        )
    </insert>

</mapper>