<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.foodiefoodie.master.repository.MasterMapper">

    <resultMap id="masterMap" type="com.project.foodiefoodie.master.domain.Master">
        <result property="businessNo" column="business_no"/>
        <result property="masterName" column="master_name"/>
        <result property="storeName" column="store_name"/>
        <result property="storeAddress" column="store_address"/>
        <result property="foodCategories" column="food_categories"/>
        <result property="storeRegDate" column="store_reg_date"/>
        <result property="hotDeal" column="hot_deal"/>
        <result property="storeCallNumber" column="store_call_number"/>
    </resultMap>

    <select id="getMasterInfo" resultType="com.project.foodiefoodie.master.dto.MasterDTO">
        SELECT store_name AS storeName, store_address AS storeAddress, food_categories AS foodCategories, hot_deal AS hotDeal
        FROM master
        WHERE business_no = #{businessNo}
    </select>


</mapper>