<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.foodiefoodie.mainpage.repository.MainPageMapper">

    <resultMap id="mpMap" type="com.project.foodiefoodie.mainpage.domain.MainPage">
        <result property="promotionBno" column="promotion_bno"/>
        <result property="businessNo" column="business_no"/>
        <result property="storeName" column="store_name"/>
        <result property="storeAddress" column="store_address"/>
        <result property="avgStarRate" column="avg_star_rate"/>
        <result property="reviewCnt" column="review_cnt"/>
        <result property="hotDeal" column="hot_deal"/>
        <result property="discountPrice" column="discount_price"/>
        <result property="fileData" column="file_data"/>
    </resultMap>


    <!-- 메인 페이지에 평점 높은 7개 가게 불러오기 -->
    <select id="findTopToday" resultMap="mpMap">
        SELECT *
        FROM ( SELECT P.promotion_bno, M.business_no, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        ORDER BY avg_star_rate DESC
        ) sub
        LIMIT 1, 7
    </select>

    <!-- 오늘의 맛집 평점 순으로 전체 불러오기 -->
    <select id="findTopTodayAll" resultMap="mpMap">
        <!--        oracle version -->
<!--        SELECT *-->
<!--        FROM (SELECT ROWNUM rn, sub.*-->
<!--        FROM ( SELECT P.promotion_bno, M.business_no, store_name, store_address, avg_star_rate, review_cnt, hot_deal,-->
<!--        discount_price, hashTag, file_data-->
<!--        FROM promotion_board P JOIN master M-->
<!--        ON P.business_no = M.business_no-->
<!--        LEFT OUTER JOIN hot_deal H-->
<!--        ON H.business_no = P.business_no-->
<!--        JOIN promotion_upload_title_img PI-->
<!--        ON PI.promotion_bno = P.promotion_bno-->
<!--        ORDER BY avg_star_rate DESC-->
<!--        ) sub)-->
<!--        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})-->

        <!--        mariaDB version -->
        SELECT P.promotion_bno, M.business_no, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        ORDER BY avg_star_rate DESC
        LIMIT #{start}, #{amount}
    </select>

    <!-- 오늘의 맛집 개수 계산 -->
    <select id="getTotalCnt" resultType="int">
        SELECT COUNT(*)
        FROM promotion_board
    </select>

    <!-- 기한이 지나지 않은 월정액 가게 랜덤으로 메인 페이지에 7개 불러오기 -->
   <!-- <select id="findRandPremium" resultMap="mpMap">

        &lt;!&ndash;SELECT * FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE promotion_bno IN ( SELECT promotion_bno FROM premiume_promotion_board WHERE end_date >= (SELECT TO_CHAR
        (current_timestamp, 'YYYYMMDD') "NOW" FROM DUAL))
        ORDER BY DBMS_RANDOM.RANDOM ) sub
        WHERE ROWNUM BETWEEN 1 AND 7&ndash;&gt;

        SELECT * FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE P.promotion_bno IN ( SELECT promotion_bno FROM premiume_promotion_board WHERE LOWER(complete) = 't')
        ORDER BY DBMS_RANDOM.RANDOM) sub
        WHERE ROWNUM BETWEEN 1 AND 7
    </select>-->

    <!-- 월정액 가게 전체 불러오기 -->
    <!--<select id="findAllPremium" resultMap="mpMap">
        SELECT *
        FROM (SELECT ROWNUM rn, sub.*
        FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE P.promotion_bno IN ( SELECT promotion_bno FROM premiume_promotion_board WHERE LOWER(complete) = 't')
        ORDER BY DBMS_RANDOM.RANDOM
        ) sub)
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})

        &lt;!&ndash;SELECT *
        FROM (SELECT ROWNUM rn, sub.*
        FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE promotion_bno IN ( SELECT promotion_bno FROM premiume_promotion_board WHERE end_date >= (SELECT TO_CHAR
        (current_timestamp, 'YYYYMMDD') "NOW" FROM DUAL))
        ORDER BY DBMS_RANDOM.RANDOM
        LIMIT (#{pageNum} - 1) * #{amount}, #{amount}&ndash;&gt;
    </select>-->

    <!-- 프리미엄 가게 개수 계산 -->
   <!-- <select id="getPremiumCnt" resultType="int">
        SELECT COUNT(*)
        FROM premiume_promotion_board WHERE end_date >= (SELECT TO_CHAR
        (SYSDATE, 'YYYYMMDD') "NOW" FROM DUAL)

        &lt;!&ndash;SELECT COUNT(*)
        FROM premiume_promotion_board WHERE end_date >= (SELECT TO_CHAR
        (current_timestamp, 'YYYYMMDD') "NOW" FROM DUAL)&ndash;&gt;
    </select>-->

    <!-- 현재 위치에 있는 랜덤 6개 가게 불러오기  -->
    <select id="findLocationRand" resultMap="mpMap">
        <!--        oracle version -->
<!--        SELECT *-->
<!--        FROM (-->
<!--        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,-->
<!--        discount_price, hashTag, file_data-->
<!--        FROM promotion_board P JOIN master M-->
<!--        ON P.business_no = M.business_no-->
<!--        LEFT OUTER JOIN hot_deal H-->
<!--        ON H.business_no = P.business_no-->
<!--        JOIN promotion_upload_title_img PI-->
<!--        ON PI.promotion_bno = P.promotion_bno-->
<!--        WHERE store_address LIKE '%' || #{storeAddress}|| '%'-->
<!--        ORDER BY DBMS_RANDOM.RANDOM-->
<!--        ) sub-->
<!--        WHERE ROWNUM BETWEEN 1 AND 4-->

        <!--        mariaDB version -->
        SELECT *
        FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE store_address LIKE CONCAT('%', #{storeAddress}, '%')
        ORDER BY DBMS_RANDOM.RANDOM
        ) sub
        LIMIT 1, 4
    </select>

    <!-- 현재 위치에 있는 가게 전체 불러오기  -->
    <select id="findAllInLocation" resultMap="mpMap">
<!--        oracle version -->
<!--        SELECT *-->
<!--        FROM (SELECT ROWNUM rn, sub.*-->
<!--        FROM (-->
<!--        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,-->
<!--        discount_price, hashTag, file_data-->
<!--        FROM promotion_board P JOIN master M-->
<!--        ON P.business_no = M.business_no-->
<!--        LEFT OUTER JOIN hot_deal H-->
<!--        ON H.business_no = P.business_no-->
<!--        JOIN promotion_upload_title_img PI-->
<!--        ON PI.promotion_bno = P.promotion_bno-->
<!--        WHERE store_address LIKE '%' || #{storeAddress}|| '%'-->
<!--        ORDER BY avg_star_rate-->
<!--        ) sub)-->
<!--        WHERE rn BETWEEN (#{page.pageNum} - 1) * #{page.amount} + 1 AND (#{page.pageNum} * #{page.amount})-->

        <!--        mariaDB version -->

        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE store_address LIKE CONCAT('%', #{storeAddress}, '%')
        ORDER BY avg_star_rate
        LIMIT #{page.start}, #{page.amount}
    </select>

    <!-- 현재 위치에 있는 가게 개수 계산 -->
    <select id="getLocationCnt" resultType="int">
        <!--        oracle version -->
        <!--SELECT COUNT(*)
        FROM master M JOIN promotion_board P
        ON M.business_no = P.business_no
        WHERE store_address LIKE '%' || #{storeAddress}|| '%'-->

        <!--        mariaDB version -->
        SELECT COUNT(*)
        FROM master M JOIN promotion_board P
        ON M.business_no = P.business_no
        WHERE store_address LIKE CONCAT('%', #{storeAddress}, '%')
    </select>

    <!-- hot deal 랜덤 6개 목록 요청-->
    <select id="findRandHotDeal" resultMap="mpMap">
        SELECT * FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN hot_deal H
        ON P.business_no = H.business_no
        JOIN master M
        ON H.business_no = M.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE LOWER(hot_deal) = 'on') sub
        LIMIT 1, 6
    </select>

    <!-- hot deal 목록 요청-->
    <select id="findAllHotDeal" resultMap="mpMap">
        <!--        oracle version -->
        <!--SELECT *
        FROM (SELECT ROWNUM rn, sub.*
        FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN hot_deal H
        ON P.business_no = H.business_no
        JOIN master M
        ON H.business_no = M.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE Lower(hot_deal) = 'on') sub)
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})-->

        <!--        mariaDB version -->
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN hot_deal H
        ON P.business_no = H.business_no
        JOIN master M
        ON H.business_no = M.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE hot_deal = 'on'
        LIMIT #{page.start}, #{page.amount}
    </select>

    <!-- 기간 내 핫딜 개수 -->
    <select id="getHotDealCnt" resultType="int">
        SELECT COUNT(*)
        FROM hot_deal
    </select>

    <!-- 해당 해쉬태그 개수 구하기 -->
    <select id="findHashTagCount" resultType="int">
        <!--        oracle version -->
        <!--SELECT COUNT(*)
        FROM promotion_board
        WHERE hashTag LIKE '%' || #{hashTag} || '%'-->

        <!--        mariaDB version -->
        SELECT COUNT(*)
        FROM promotion_board
        WHERE hashTag LIKE CONCAT('%', #{hashTag}, '%')
    </select>

    <!-- 해당 해쉬태그 리스트 가져오기 -->
    <select id="findHashTag" resultMap="mpMap">
        <!--        oracle version -->
        <!--SELECT *
        FROM (SELECT ROWNUM rn, t_pb.*
        FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE hashTag LIKE '%' || #{hashTag} || '%'
        ORDER BY avg_star_rate DESC
        ) t_pb)
        WHERE rn BETWEEN (#{page.pageNum} - 1) * #{page.amount} + 1 AND (#{page.pageNum} * #{page.amount})-->

        <!--        mariaDB version -->
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE hashTag LIKE CONCAT('%', #{hashTag}, '%')
        ORDER BY avg_star_rate DESC
        LIMIT #{page.start}, #{page.amount}
    </select>

    <!-- 해당 서치 리스트 가져오기 -->
    <select id="findAllSearch" resultMap="mpMap">
        <!--        oracle version -->
        <!--SELECT *
        FROM (SELECT ROWNUM rn, t_pb.*
        FROM (
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE store_address LIKE '%' || #{s.keyword} || '%'
        OR store_name LIKE '%' || #{s.keyword} || '%'
        OR hashTag LIKE '%' || #{s.keyword} || '%'
        <if test="sort == 'star'">ORDER BY avg_star_rate DESC</if>
        <if test="sort == 'latest'">ORDER BY P.last_updated</if>
        ) t_pb)
        WHERE rn BETWEEN (#{s.pageNum} - 1) * #{s.amount} + 1 AND (#{s.pageNum} * #{s.amount})-->

        <!--        mariaDB version -->
        SELECT P.business_no, P.promotion_bno, store_name, store_address, avg_star_rate, review_cnt, hot_deal,
        discount_price, hashTag, file_data
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        LEFT OUTER JOIN hot_deal H
        ON H.business_no = P.business_no
        JOIN promotion_upload_title_img PI
        ON PI.promotion_bno = P.promotion_bno
        WHERE store_address LIKE CONCAT('%', #{s.keyword}, '%')
        OR store_name LIKE CONCAT('%', #{s.keyword}, '%')
        OR hashTag LIKE CONCAT('%', #{s.keyword}, '%')
        <if test="sort == 'star'">ORDER BY avg_star_rate DESC</if>
        <if test="sort == 'latest'">ORDER BY P.last_updated</if>
        LIMIT #{s.start}, #{s.amount}
    </select>

    <!-- 해당 서치 개수 -->
    <select id="getTotalCount" resultType="int">
        <!--        oracle version -->
        <!--SELECT COUNT(*)
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        WHERE store_address LIKE '%' || #{keyword} || '%'
        OR store_name LIKE '%' || #{keyword} || '%'
        OR hashTag LIKE '%' || #{keyword} || '%'-->

        <!--        mariaDB version -->
        SELECT COUNT(*)
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        WHERE store_address LIKE CONCAT('%', #{keyword}, '%')
        OR store_name LIKE CONCAT('%', #{keyword}, '%')
        OR hashTag LIKE CONCAT('%', #{keyword}, '%')

    </select>

    <select id="isOpen" resultType="String">
        <!--        oracle version -->
        <!--<![CDATA[
        SELECT
        CASE
        WHEN (SELECT TO_CHAR(SYSDATE,'DY') FROM dual) = closedday THEN '오늘 휴무'
        WHEN breakstarttime <= (SELECT TO_CHAR
        (SYSDATE, 'HH24:MI') "NOW" FROM DUAL) AND breakendtime >= (SELECT TO_CHAR
        (SYSDATE, 'HH24:MI') "NOW" FROM DUAL) THEN '브레이크 타임'
        WHEN weekdayclosetime >= (SELECT TO_CHAR
        (SYSDATE, 'HH24:MI') "NOW" FROM DUAL) AND weekdayopentime <= (SELECT TO_CHAR
        (SYSDATE, 'HH24:MI') "NOW" FROM DUAL) THEN '영업중'
        WHEN (SELECT TO_CHAR(SYSDATE, 'HH24:MI') FROM dual) <= weekdayopentime THEN '영업전'
        ELSE '영업끝'
        END AS StoreTimeText
        FROM promotion_store_time
        WHERE promotion_bno = #{promotionBno}
        ]]>-->

        <!--        mariaDB version -->
        <![CDATA[
        SELECT
        CASE
        WHEN (SELECT TO_CHAR(current_timestamp,'DY') FROM dual) = closedday THEN '오늘 휴무'
        WHEN breakstarttime <= (SELECT TO_CHAR
        (current_timestamp, 'HH24:MI') "NOW" FROM DUAL) AND breakendtime >= (SELECT TO_CHAR
        (current_timestamp, 'HH24:MI') "NOW" FROM DUAL) THEN '브레이크 타임'
        WHEN weekdayclosetime >= (SELECT TO_CHAR
        (current_timestamp, 'HH24:MI') "NOW" FROM DUAL) AND weekdayopentime <= (SELECT TO_CHAR
        (current_timestamp, 'HH24:MI') "NOW" FROM DUAL) THEN '영업중'
        ELSE '영업끝'
        END AS StoreTimeText
        FROM promotion_store_time
        WHERE promotion_bno = #{promotionBno}
        ]]>
    </select>

</mapper>