<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.foodiefoodie.member.repository.FavoriteListMapper">

    <resultMap id="favoriteMap" type="com.project.foodiefoodie.member.dto.FavoriteListDTO">
        <result property="storeName" column="store_name"/>
        <result property="storeAddress" column="store_address"/>
        <result property="storeCallNumber" column="store_call_number"/>
    </resultMap>

<!-- 지금 내가 만들어야
    프로모션 2번째 글의 가게 이름 !
되는게 -->
<!--    <select id="가게정보">-->
<!--        SELECT store_name,store_address,store_call_number-->
<!--        FROM MASTER-->
<!--        WHERE business_no = ee-->
<!--    </select>-->

<!--    <select id="ee">-->
<!--        SELECT 사업자번호 FROM promotion_board-->
<!--        where promotion_bno = 123123-->
<!--    </select>-->

<!--&lt;!&ndash;     이 값과 &ndash;&gt;-->
<!--    <select id="123123">-->
<!--        SELECT promotion_bno-->
<!--        FROM favorite_store-->
<!--        WHRER email = #{email}-->
<!--    </select>-->

    <select id="favoriteList" resultMap="favoriteMap">
        SELECT store_name,store_address,store_call_number
        FROM MASTER
        WHERE business_no in (SELECT  business_no FROM promotion_board
        where promotion_bno in ( SELECT promotion_bno
        FROM favorite_store
        Where email=#{email}))
    </select>

<!--  ======================================================절취선 ========================================================  -->
<!--    <select id="isDuplicate" resultType="int">-->
<!--        SELECT COUNT(*)-->
<!--        FROM member-->
<!--        <if test="type=='email'">-->
<!--            WHERE email = #{value}-->
<!--        </if>-->
<!--        <if test="type=='nickName'">-->
<!--            WHERE nick_name = #{value}-->
<!--        </if>-->
<!--    </select>-->


<!--    <select id="findMember" resultMap="memberMap">-->
<!--        SELECT *-->
<!--        FROM member-->
<!--        WHERE email = #{email}-->
<!--    </select>-->


<!--    <insert id="register">-->
<!--        INSERT INTO member-->
<!--        (email, password, nick_name, phone_number, birth, address, name, gender)-->
<!--        VALUES-->
<!--        (#{email}, #{password}, #{nickName}, #{phoneNumber}, #{birth}, #{address}, #{name}, #{gender})-->
<!--    </insert>-->



<!--    <delete id="deleteMember">-->
<!--        DELETE FROM member-->
<!--        WHERE email = #{email}-->
<!--    </delete>-->


    <update id="modifyMember">
        UPDATE member
        SET nick_name = #{nickName}, phone_number = #{phoneNumber} , address = #{address}
        WHERE email = #{email}
    </update>







    <insert id="saveAutoLoginValue">
        INSERT INTO auto_login
        (email, session_id, logout_time)
        VALUES
        (#{email}, #{sessionId}, #{limitTime})
    </insert>

    <resultMap id="autoLogin" type="com.project.foodiefoodie.member.dto.login.AutoLoginDTO">
        <result column="session_id" property="sessionId"/>
        <result column="logout_time" property="limitTime"/>
    </resultMap>

    <select id="findIsAutoLoginBySessionId" resultMap="autoLogin">
        SELECT email, session_id, logout_time
        FROM auto_login
        WHERE session_id = #{sessionId}
    </select>

    <delete id="deleteAutoLoginValue">
        DELETE FROM auto_login
        WHERE email = #{email}
    </delete>
</mapper>


