<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.foodiefoodie.member.repository.MasterAndMemberMapper">

    <resultMap id="masterMap" type="com.project.foodiefoodie.member.domain.MasterAndMember">
        <result property="nickName" column="nick_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="regDate" column="regist_date"/>
        <result property="recentLoginTime" column="login_time"/>
        <result property="businessNo" column="business_no"/>
        <result property="masterName" column="master_name"/>
        <result property="storeName" column="store_name"/>
        <result property="storeAddress" column="store_address"/>
        <result property="storeRegDate" column="store_reg_date"/>
        <result property="hotDeal" column="hot_deal"/>
        <result property="storeCallNumber" column="store_call_number"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="extraAddress" column="extra_address"/>
        <result property="storeDetailAddress" column="store_detail_address"/>
        <result property="storeExtraAddress" column="store_extra_address"/>
        <result property="promotionAuth" column="promotion_auth"/>
    </resultMap>


    <select id="findMaster" resultMap="masterMap">
        SELECT
        a.email, a.nick_name, a.phone_number, a.birth, a.address
        , a.name, a.gender, a.auth, a.regist_date, a.login_time
        , b.business_no, b.store_name, b.store_address, b.master_name
        , b.store_reg_date, b.hot_deal, b.store_call_number, a.detail_address
        , a.extra_address, b.store_detail_address, b.store_extra_address, b.promotion_auth
        FROM member a
        LEFT OUTER JOIN master b
        ON a.email = b.email
        WHERE auth = 'MASTER'
    </select>


    <select id="findOneMaster" resultMap="masterMap">
        SELECT
        a.email, a.nick_name, a.phone_number, a.birth, a.address
        , a.name, a.gender, a.auth, a.regist_date, a.login_time
        , b.business_no, b.store_name, b.store_address, b.master_name
        , b.store_reg_date, b.hot_deal, b.store_call_number, a.detail_address
        , a.extra_address, b.store_detail_address, b.store_extra_address, b.promotion_auth
        FROM member a
        LEFT OUTER JOIN master b
        ON a.email = b.email
        WHERE a.email = #{email}
    </select>


    <select id="approveMaster" resultMap="masterMap">
        SELECT
        a.email, a.nick_name, a.phone_number, a.birth, a.address
        , a.name, a.gender, a.auth, a.regist_date, a.login_time
        , b.business_no, b.store_name, b.store_address, b.master_name
        , b.store_reg_date, b.hot_deal, b.store_call_number, a.detail_address
        , a.extra_address, b.store_detail_address, b.store_extra_address, b.promotion_auth
        FROM member a
        LEFT OUTER JOIN master b
        ON a.email = b.email
        WHERE b.promotion_auth = 'COMMON'
    </select>




</mapper>