<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper태그는 sql을 매핑할때 사용하는 태그
     namespace속성에는 사용할 인터페이스의 풀 패키지경로 + 인터페이스이름
  -->
<mapper namespace="com.project.foodiefoodie.blackList.repository.BlackListMapper">

<!--    List<BlackList> findAll();-->
<!--    BlackList findOne(String email);-->
<!--    boolean save(String email);-->
<!--    boolean remove(String email);-->

    <resultMap id="blackListMap" type="com.project.foodiefoodie.blackList.domain.BlackList">

    </resultMap>

    <select id="findAll" resultMap="blackListMap">
        SELECT * FROM black_list
    </select>

    <select id="findOne" resultMap="blackListMap">
        SELECT * FROM black_list
        WHERE email = #{email}
    </select>

    <insert id="save">
        INSERT INTO black_list VALUES (#{email})
    </insert>

    <delete id="remove">
        DELETE FROM black_list
        WHERE email = #{email}
    </delete>

</mapper>

