<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.foodiefoodie.hotdeal.repository.HotDealMapper">

    <resultMap id="dealMap" type="com.project.foodiefoodie.hotdeal.domain.HotDeal">
        <result property="businessNo" column="business_no"/>
        <result property="discountPrice" column="discount_price"/>
        <result property="endDate" column="end_date"/>
        <result property="startDate" column="start_date"/>
    </resultMap>

    <insert id="save">
        INSERT INTO hot_deal
        (business_no, discount_price, end_date, start_date)
        VALUES (#{businessNo}, #{discountPrice}, #{endDate}, #{startDate})
    </insert>

    <select id="findRandHot" resultType="com.project.foodiefoodie.hotdeal.dto.DealPromotionMasterDTO">
        SELECT business_no AS businessNo, discount_price AS discountPrice, end_date AS endDate, start_date AS
        startDate, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt, store_address AS storeAddress, store_name AS
        storeName
        FROM (
        SELECT *
        FROM hot_deal H JOIN promotion_board P
        ON H.business_no = P.business_no
        JOIN master M
        ON H.business_no = M.business_no
        ORDER BY DBMS_RANDOM.RANDOM
        ) sub
        WHERE ROWNUM BETWEEN 1 AND 6
    </select>

    <select id="findAll" resultType="com.project.foodiefoodie.hotdeal.dto.DealPromotionMasterDTO">
        SELECT business_no AS businessNo, discount_price AS discountPrice, end_date AS endDate, start_date AS
        startDate, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt, store_address AS storeAddress, store_name AS
        storeName
        FROM (SELECT ROWNUM rn, t_hotDeal.*
        FROM (
        SELECT *
        FROM hot_deal H JOIN promotion_board P
        ON H.business_no = P.business_no
        JOIN master M
        ON H.business_no = M.business_no ) t_hotDeal)
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})
    </select>

    <select id="getMyTotalCnt" resultType="int">
        SELECT COUNT(*)
        FROM hot_deal
    </select>

    <select id="findOne" resultMap="dealMap">
        SELECT * FROM hot_deal
        WHERE business_no=#{businessNo}
    </select>

    <delete id="remove">
        DELETE FROM hot_deal
        WHERE business_no=#{businessNo}
    </delete>

    <update id="modify">
        UPDATE hot_deal
        SET discount_price = #{discountPrice}, end_date=#{endDate}, start_date=#{startDate}
        WHERE business_no=#{businessNo}
    </update>
</mapper>