<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper태그는 sql을 매핑할때 사용하는 태그
     namespace속성에는 사용할 인터페이스의 풀 패키지경로 + 인터페이스이름
  -->
<mapper namespace="com.project.foodiefoodie.reviewFaq.repository.ReviewFaqMapper">
    <resultMap id="reviewFaq" type="com.project.foodiefoodie.reviewFaq.domain.ReviewFaq">
        <result property="reFaqNo" column="re_faq_no"/>
        <result property="reviewBno" column="review_bno"/>
        <result property="writerEmail" column="writer_email"/>
        <result property="faqComplete" column="faq_complete"/>
    </resultMap>

    <select id="findAll" resultMap="reviewFaq">
        SELECT * FROM review_faq
    </select>

    <select id="findOne" resultMap="reviewFaq">
        SELECT * FROM review_faq
        WHERE re_faq_no = #{reFaqNo}
    </select>


</mapper>