<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper태그는 sql을 매핑할때 사용하는 태그
     namespace속성에는 사용할 인터페이스의 풀 패키지경로 + 인터페이스이름
  -->
<mapper namespace="com.project.foodiefoodie.replyFaq.repository.ReplyFaqMapper">
    <resultMap id="replyFaq" type="com.project.foodiefoodie.replyFaq.domain.ReplyFaq">
        <result property="replyFaqNo" column="reply_faq_no"/>
        <result property="replyNo" column="reply_no"/>
        <result property="writerEmail" column="writer_email"/>
        <result property="faqComplete" column="faq_complete"/>
        <result property="replyWriterEmail" column="reply_writer_email"/>
        <result property="content" column="reply_faq_content"/>
    </resultMap>

    <resultMap id="replyFaqDTO" type="com.project.foodiefoodie.replyFaq.dto.ReplyFaqDTO">
        <result property="replyFaqNo" column="reply_faq_no"/>
        <result property="replyNo" column="reply_no"/>
        <result property="writerEmail" column="writer_email"/>
        <result property="replyFaqContent" column="reply_faq_content"/>
        <result property="faqComplete" column="faq_complete"/>
        <result property="replyWriterEmail" column="reply_writer_email"/>
        <result property="reviewBno" column="review_bno"/>
        <result property="replyContent" column="content"/>
        <result property="nickName" column="nick_name"/>
        <result property="lastUpdate" column="last_updated"/>
    </resultMap>

    <select id="findAll" resultMap="replyFaq">
        SELECT * FROM reply_faq
        WHERE faq_complete = #{complete}
    </select>

    <select id="findOne" resultMap="replyFaq">
        SELECT * FROM reply_faq
        WHERE reply_faq_no = #{replyFaqNo}
    </select>

    <update id="update">
        UPDATE reply_faq SET faq_complete = #{complete}
        WHERE reply_faq_no = #{replyFaqNo}
    </update>

    <select id="findAllReply" resultMap="replyFaqDTO">
        SELECT
        a.reply_faq_no, a.reply_no, a.writer_email, a.reply_faq_content
        , a.faq_complete, a.reply_writer_email
        , b.review_bno, b.content, b.nick_name, b.last_updated
        FROM reply_faq a
        LEFT OUTER JOIN reply b
        ON a.reply_no = b.reply_no
        WHERE a.faq_complete = #{complete}
        and b.reply_no is not null
    </select>

    <!--<insert id="save">
        insert into reply_faq (reply_faq_no, reply_no, writer_email, reply_faq_content, reply_writer_email)
        values(seq_reply_faq.nextval, #{replyNo}, #{writerEmail}, #{content}, #{replyWriterEmail})
    </insert>-->

    <insert id="save">
        insert into reply_faq (reply_no, writer_email, reply_faq_content, reply_writer_email)
        values(#{replyNo}, #{writerEmail}, #{content}, #{replyWriterEmail})
    </insert>


</mapper>