/* YOUR CUSTOM CSS */

@media screen and (max-width:900px) {
    #locationList {
        flex-direction: column;
    }

    #locationList div.item {
        width: 100%;
    }
}

.index-img-css {
    object-fit: fill;
    width: 100%;
    height: 100%;
    /* display: block; */
}