/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.custom-search-input .col-lg-6 {
    width: 83%;
  }

  .page_header .container .row .search form {
    display: flex;
  }

  .page_header .container .row .search .form-select {
    flex: 1;
    margin-top: 8px;
    border-radius: 10px;
  }


  .page_header .container .row .search .row {
    flex: 10;
  }