<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper태그는 sql을 매핑할때 사용하는 태그
     namespace속성에는 사용할 인터페이스의 풀 패키지경로 + 인터페이스이름
  -->
<mapper namespace="com.project.foodiefoodie.reply.repository.ReplyMapper">

    <resultMap id="replyMap" type="com.project.foodiefoodie.reply.domain.Reply">
        <result property="reviewBno" column="review_bno"/>
        <result property="replyNo" column="reply_no"/>
        <result property="nickName" column="nick_name"/>
        <result property="lastUpdated" column="last_updated"/>
    </resultMap>

    <select id="replyCount" resultType="int">
        select count(reply_no)
        from reply
        where review_bno = #{reviewBno}
    </select>


    <delete id="remove">
        DELETE FROM reply
        WHERE reply_no = #{replyNo}
    </delete>

    <select id="findAllReplies" resultMap="replyMap">
        SELECT *
        FROM reply
        WHERE review_bno = #{reviewBno}
    </select>

    <select id="findAll" resultMap="replyMap">
        SELECT *
        FROM (
        SELECT ROWNUM rn, v_reply.*
        FROM (
        SELECT *
        FROM reply
        WHERE review_bno = #{reviewBno}
        ORDER BY reply_no DESC
        ) v_reply
        )
        WHERE rn BETWEEN (#{page.pageNum} - 1) * #{page.amount} + 1 AND (#{page.pageNum} * #{page.amount})


        <!--SELECT *
        FROM reply
        WHERE review_bno = #{reviewBno}
        ORDER BY reply_no DESC
        LIMIT (#{page.pageNum} - 1) * #{page.amount}, #{page.amount}-->

    </select>

    <select id="findOne" resultMap="replyMap">
        SELECT * FROM reply
        WHERE reply_no = #{replyNo}
    </select>

    <select id="findReplyCount" resultType="int">
        SELECT COUNT(*)
        FROM reply
        WHERE review_bno = #{reviewBno}
    </select>

    <insert id="save">
        INSERT INTO reply
        VALUES (#{reviewBno}, seq_reply.nextval, #{email}, #{content}, #{nickName}, SYSDATE)

        <!--INSERT INTO reply (review_bno, email, content, nickName, last_updated)
        VALUES (#{reviewBno}, #{email}, #{content}, #{nickName}, current_timestamp)-->
    </insert>

    <!--  댓글 수정  -->
    <update id="modify">
        UPDATE reply
        SET content = #{content}
        WHERE reply_no = #{replyNo}
    </update>

</mapper>