<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.foodiefoodie.promotion.repository.PromotionBoardMapper">

    <resultMap id="pbMap" type="com.project.foodiefoodie.promotion.domain.PromotionBoard">
        <result property="businessNo" column="business_no"/>
        <result property="promotionBno" column="promotion_bno"/>
        <result property="lastUpdated" column="last_updated"/>
        <result property="avgStarRate" column="avg_star_rate"/>
        <result property="reviewCnt" column="review_cnt"/>
        <result property="hashTag" column="hash_tag"/>
    </resultMap>

    <insert id="save">
        INSERT INTO promotion_board (business_no, promotion_bno, content, title)
        VALUES (#{businessNo}, seq_promotion_board.nextval, #{content}, #{title})
    </insert>

    <select id="findOne" resultType="com.project.foodiefoodie.promotion.dto.PromotionReviewDTO">
        SELECT business_no AS businessNo, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt
        FROM promotion_board
        WHERE business_no=#{businessNo}
    </select>

    <select id="findAllSearch" resultType="com.project.foodiefoodie.promotion.dto.PromotionMasterDTO">
        SELECT business_no AS businessNo, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt, store_name AS
        storeName, store_address AS storeAddress, hashTag AS hashTag, file_path AS filePath
        FROM (SELECT ROWNUM rn, t_pb.*
        FROM (
        SELECT P.business_no, avg_star_rate, review_cnt, store_name, store_address, hashTag, file_path
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        <!-- 동적 SQL : 검색을 하면 붙고, 안하면 안붙음 -->
        <if test="type == 'location'">WHERE store_address LIKE '%' || #{keyword} || '%'</if>
        <if test="type == 'restaurant'">WHERE store_name LIKE '%' || #{keyword} || '%'</if>
        <if test="type == 'food'">WHERE hashTag LIKE '%' || #{keyword} || '%'</if>
        ) t_pb)
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})
    </select>

    <select id="findAll" resultType="com.project.foodiefoodie.promotion.dto.PromotionMasterDTO">
        SELECT business_no AS businessNo, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt, store_name AS
        storeName, store_address AS storeAddress, file_path AS filePath
        FROM (SELECT ROWNUM rn, t_pb.*
        FROM (
        SELECT P.business_no, avg_star_rate, review_cnt, store_name, store_address, file_path
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        ORDER BY avg_star_rate DESC
        ) t_pb)
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        <if test="type == 'location'">WHERE store_address LIKE '%' || #{keyword} || '%'</if>
        <if test="type == 'restaurant'">WHERE store_name LIKE '%' || #{keyword} || '%'</if>
        <if test="type == 'food'">WHERE hashTag LIKE '%' || #{keyword} || '%'</if>
    </select>

    <select id="getMyTotalCnt" resultType="int">
        SELECT COUNT(*)
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        WHERE hashTag LIKE '%' || #{hashTag} || '%'
    </select>

    <select id="getTotal" resultType="int">
        SELECT * FROM promotion_board
    </select>

    <select id="topAvgRateCount" resultType="com.project.foodiefoodie.promotion.dto.PromotionMasterDTO">
        SELECT * FROM (
        SELECT P.business_no AS businessNo, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt, store_address AS
        storeAddress, store_name AS storeName, file_path AS filePath
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        ORDER BY avgStarRate DESC
        ) sub
        WHERE ROWNUM BETWEEN 1 AND 7
    </select>

    <select id="avgRateAndCount" resultType="com.project.foodiefoodie.promotion.dto.PromotionReviewDTO">
        SELECT business_no AS businessNo, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt
        FROM promotion_board
        ORDER BY avgStarRate DESC
    </select>

    <update id="updateRateAndCount">
        UPDATE promotion_board
        SET avg_star_rate = #{avgStarRate}, review_cnt = #{reviewCnt}
        WHERE business_no=#{businessNo}
    </update>

    <select id="findHashTagCount" resultType="int">
        SELECT COUNT(*)
        FROM promotion_board
        WHERE hashTag LIKE '%' || #{hashTag} || '%'
    </select>

    <select id="findHashTag" resultType="com.project.foodiefoodie.promotion.dto.PromotionMasterDTO">
        SELECT business_no AS businessNo, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt, store_name AS
        storeName, store_address AS storeAddress, file_path AS filePath
        FROM (SELECT ROWNUM rn, t_pb.*
        FROM (
        SELECT P.business_no, avg_star_rate, review_cnt, store_name, store_address, file_path
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        WHERE hashTag LIKE '%' || #{hashTag} || '%'
        ) t_pb)
        WHERE rn BETWEEN (#{page.pageNum} - 1) * #{page.amount} + 1 AND (#{page.pageNum} * #{page.amount})
    </select>

    <select id="checkReportCnt" resultType="int">
        SELECT report_cnt FROM promotion_board
        WHERE business_no = #{businessNo}
    </select>

    <update id="reportCntModify">
        UPDATE promotion_board SET report_cnt = #{reportCnt}
        WHERE business_no = #{businessNo}
    </update>


</mapper>