<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.foodiefoodie.promotion.repository.PromotionBoardMapper">

    <resultMap id="pbMap" type="com.project.foodiefoodie.promotion.domain.PromotionBoard">
        <result property="businessNo" column="business_no"/>
        <result property="promotionBno" column="promotion_bno"/>
        <result property="lastUpdated" column="last_updated"/>
        <result property="avgStarRate" column="avg_star_rate"/>
        <result property="reviewCnt" column="review_cnt"/>
        <result property="hashTag" column="hash_tag"/>
    </resultMap>

<!--    프로모션 보드 갯수 알아오는 메서드 -->
    <select id="countPromotionBoard" resultType="int">
        select count(*)
        from promotion_board
        where business_no = #{business_no}
    </select>

    <select id="findProBoardNum" resultType="int">
        select promotion_bno
        from promotion_board
        where business_no = #{business_no}
    </select>




    <!--<insert id="save">
        INSERT INTO promotion_board (business_no, promotion_bno, content, title)
        VALUES (#{businessNo}, seq_promotion_board.nextval, #{content}, #{title})
    </insert>-->

    <insert id="save">
        INSERT INTO promotion_board (business_no, content, title)
        VALUES (#{businessNo}, #{content}, #{title})
    </insert>

    <select id="findOne" resultType="com.project.foodiefoodie.promotion.dto.PromotionReviewDTO">
        SELECT business_no AS businessNo, avg_star_rate AS avgStarRate, review_cnt AS reviewCnt
        FROM promotion_board
        WHERE business_no=#{businessNo}
    </select>

    <select id="getMyTotalCnt" resultType="int">
        SELECT COUNT(*)
        FROM promotion_board P JOIN master M
        ON P.business_no = M.business_no
        WHERE hashTag LIKE '%' || #{hashTag} || '%'
    </select>

    <select id="getTotal" resultType="int">
        SELECT COUNT(*) FROM promotion_board
    </select>

    <update id="updateRateAndCount">
        UPDATE promotion_board
        SET avg_star_rate = #{avgStarRate}, review_cnt = #{reviewCnt}
        WHERE business_no=#{businessNo}
    </update>

    <select id="checkReportCnt" resultType="int">
        SELECT report_cnt FROM promotion_board
        WHERE business_no = #{businessNo}
    </select>

    <update id="reportCntModify">
        UPDATE promotion_board SET report_cnt = #{reportCnt}
        WHERE business_no = #{businessNo}
    </update>


</mapper>