<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper태그는 sql을 매핑할때 사용하는 태그
     namespace속성에는 사용할 인터페이스의 풀 패키지경로 + 인터페이스이름
  -->
<mapper namespace="com.project.foodiefoodie.promotion.repository.PromotionMapper">
    <resultMap id="promotionMap" type="com.project.foodiefoodie.promotion.domain.Promotion">
        <result property="businessNo" column="business_no"/>
        <result property="promotionBno" column="promotion_bno"/>
        <result property="lastUpdated" column="last_updated"/>
        <result property="reportCnt" column="report_cnt"/>
    </resultMap>



</mapper>